@font-face {
  font-family: myFirstFont;
  src: url(Mansalva-Regular.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(Montserrat-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: url('BG.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
max-width: 1250px;
margin: auto;
padding: 0px 30px;
}
.navbar{
position: fixed;
z-index: 5;
width: 100%;
padding: 25px 0;
transition: all 0.3s ease;
background: #3C2E92;
}
.navbar.sticky{
padding: 10px 0;
background: #3C2E92;
box-shadow: 0px 3px 5px 0px rgba(255, 100, 100, 0.1);
z-index: 5;
}
.navbar .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a:hover{
background-color: rgb(13, 13, 44);
color: rgb(255, 255, 255);
padding: 5px;
transition: all 0.3s ease;
border-radius: 10px;
}
.navbar .logo a{
color: #fff;
font-family: myFirstFont;
font-size: 30px;
font-weight: 600;
text-decoration: none;
transition: all 0.3s ease;
}
.navbar .menu-list{
display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a:hover{
  background-color: rgb(13, 13, 44);
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: mySecondFont;
}
.menu-list li a:hover{
  color: #ffffff;
}
.sec1 {
  background: src(#banner);
}
.banner{
  height: 13vh;
  background: url("purple.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.p{
  font-family: myFirstFont;
}
.under{
  margin-bottom: 150px;
  font-family: mySecondFont;
}
.content{
  text-align: center;
  font-family: myFirstFont;
}
.title{
  margin-top: 200px;
  text-align: center;
  font-family: myFirstFont;
}
.title2{
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
  font-family: myFirstFont;
}
.title2 h3{
  font-family: myFirstFont;
}
.title3{
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
  font-family: myFirstFont;
}
.title3 h3{
  font-size: 2.5vw;
  font-family: mySecondFont;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 10px;

  padding: 10px;
  padding-bottom: 20px;
  background-color: #271c6b;
}
.Illust{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.Illust a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.Illust:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.Illust a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.GD{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.GD a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.GD:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.GD a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.AN{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.AN a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.AN:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.AN a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
.navbar2.sticky .icon.cancel-btn{
  top: 10px;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 10px;

  padding: 10px;
  padding-bottom: 20px;
  background-color: #271c6b;
}
.Instagram{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.Instagram a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.Instagram:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.Instagram a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.Twitter{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.Twitter a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.Twitter:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.Twitter a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.Email{
  font-size: 25px;
  text-align: center;
  font-family: myFirstFont;
  color: #ffffff;
  background-color: #271c6b;
  width: 350px; height:30px; 
  border-radius: 10px;
  transition: all 1.0s ease;
  width: 250px; height:40px; margin:020px auto;
}
.Email a{
  text-decoration: none;
  font-family: myFirstFont;
  color: #ffffff;
}
.Email:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  background-color: #ffffff;
  color: #271c6b;
}
.Email a:hover{
  font-family: myFirstFont;
  color: #271c6b;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
.navbar2.sticky .icon.cancel-btn{
  top: 10px;
}
.Wip{
  
  margin-bottom: 50px;
  margin-top: 100px;
  background-color: #271c6b;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.work{
  align-self: center;
  text-align: center;
  flex: 33%;
  max-width: 33%;
  padding: 7px;
}
.work img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 7px;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.work img:hover{
  position: relative;
  transform: scale(1.3);
  transition: all 0.3s ease;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .work {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .work {
    flex: 100%;
    max-width: 100%;
  }
}
/*
.work{
 position: relative;

}
.work img:hover{
  position: relative;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.work img{
  margin-left: 50px;
  width: 70%;
  display: block;
  transition: all 0.3s ease;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .work {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .work {
    flex: 100%;
    max-width: 100%;
  }
}
.Wip2{

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 5px;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 100px;

}
.work2{
 position: relative;

}
.work2 img:hover{
  position: relative;
  transform: scale(1.3);
  transition: all 0.3s ease;
}
.work2 img{
  margin-left: 50px;
  width: 70%;
  display: block;
  transition: all 0.3s ease;
  overflow: hidden;
}*/
.h1{
  font-family: myFirstFont;
}
.OW{
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 5vw;
  font-family: myFirstFont;
  text-size-adjust: 100px;
  color: #ffffff;
  text-align: center;
  padding: 2vwpx;
  margin: 2vw;
  border-radius: 2vw;
  background-color: #271c6b;
  width: 40vw; height:12vw; margin:2vw auto;
  transition: all 0.3s ease;
  text-decoration: none;
}
.OW a{
  display: inline-block;
  font-size: 5vw;
  font-family: myFirstFont;
  text-size-adjust: 100px;
  color: #ffffff;
  text-align: center;
  padding: 2vw;
  margin-bottom: 20px;
  border-radius: 10px;
  text-decoration: none;
  width: 400px; height:120px; margin:020px auto;
  transition: all 0.3s ease; 
  width: 100%; /* Make the link take up the full width */
  height: 100%;
}
.OW:hover{
  transform: scale(1.2);
  background-color: #005B70;
  color: #ffffff;
  transition: all 0.3s ease;
}
@media screen and (max-width: 800px) {
  .OW {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .OW {
    flex: 100%;
    max-width: 100%;
  }
}

.footer{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  margin-bottom: 10px;
}/*
.abot{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 20px;
  padding-top: 50px;
  padding-left: 120px;
  padding-bottom: 150px;
}
.abot a{
  display: flex;
  font-size: 20px;
  padding-right: 100px;
  text-align: center;
  font-family: mySecondFont;
  justify-content: center;
  align-items: center;
}*/
.abot{
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.lock{
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 50%;
  max-width: 50%;
  padding: 7px;
}
.lock a{
  justify-content: center;
  font-family: mySecondFont;
  font-size: 20px;
}
.lock h1{
  font-size: 6vw;
  font-family: myFirstFont;
}
@media screen and (max-width: 800px) {
  .lock {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .lock {
    flex: 100%;
    max-width: 100%;
  }
}/*
.cnt{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 20px;
 align-items: center;
  padding-top: 80px;
  padding-left: 200px;
  padding-bottom: 100px;
}
.cnt a{
  display: flex;
  font-size: 60px;
  padding-right: 100px;
  text-align: center;
  font-family: myFirstFont;
}*/
.kon{
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.net{
  align-self: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 50%;
  max-width: 50%;
  padding: 7px;
}
.net a{
  justify-content: center;
  font-family: mySecondFont;
  font-size: 20px;
}
.net img{
  transition: all 0.3s ease;
}
.net img:hover{
    position: relative;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
.net h1{
  font-size: 6vw;
  font-family: myFirstFont;
}
@media screen and (max-width: 800px) {
  .net {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .net {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #251D32;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}


.slider{
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list{
  margin-top: 10px;
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 7px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 7px;
}
.column img:hover{
  text-align: center;
  position: relative;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
  /* Style the gallery container */

.gallery img:hover{
    opacity: 70%;
    
}
.caption{
  font-family: mySecondFont;
}
* {
    box-sizing: border-box;
  }
/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Style the modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

/* Close button */
.close {
    position: relative;
    top: 15px;
    right: 35px;
    width: auto;
    height: auto;
    padding-right: 7.5px;
    padding-left: 7.5px;
    background-color: rgb(177, 177, 177);
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Style the caption */
.caption {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
  /* Style the gallery container */

  .gallery img:hover{
    opacity: 70%;
}
* {
    box-sizing: border-box;
  }
/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Style the modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

/* Close button */
.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Style the caption */
.caption {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery{
    flex: 25%;
    max-width: 25%;
    padding: 7px;
  }
  .gallery img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 7px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .gallery {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery {
      flex: 100%;
      max-width: 100%;
    }
  }
  .scrollTop {
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-items: center;
    align-content: center;
    text-decoration: none;
    background-color: #251D32;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
     font-family: myFirstFont;
}

.scrollTop.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.scrollTop:hover {
    background-color: #005B70;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/*
.video video{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: center;
  align-content: center;
  width: 1000px;
  height: auto;
  padding: 50px;
  margin-left: 180px;
}*/
.video-container {

  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  position: relative;
  width: 100%; /* Adjust the width as needed */
  max-width: 1000px; /* Set a maximum width if desired */
  margin: 0 auto; /* Center the container horizontally */
  padding-bottom: 10px;
}

.video-container video {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure video is not inline */
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
